<div class="toolbar-wrapper">
  <div class="toolbar-search">
    <i class="fa fa-search"></i>
    <input type="text"
           class="searchInput searchFont"
           placeholder="Search Fonts"
           #inputFonts
           (keyup)="searchFont($event)"/>
  </div>
  <div class="toolbar-text">
    <input type="text"
           class="searchInput"
           placeholder="Type Something"
           #inputText
           (keyup)="typeText($event)"/>
  </div>
  <div class="toolbar-fontsize">
    <select (change)="selectFontSize($event)">
      <option disabled
              selected
      >text size
      </option>
      <option *ngFor="let val of [12, 14, 20, 24, 32, 40, 54]"
              [value]="val">{{ val }}px
      </option>
    </select>
  </div>
  <div class="toolbar-changeBg">
    <input type="radio"
           id="white"
           name="bgColor"
           value="white"
           checked
           (click)="changeBg($event)"><label for="white"></label>
    <input type="radio"
           id="black"
           name="bgColor"
           value="black"
           (click)="changeBg($event)"><label for="black"></label>
  </div>
  <div class="toolbar-view">
    <input id="view"
           name="view"
           type="checkbox"
           #view
           checked
           (change)="changeView($event)"><label for="view"><i [className]="view.checked ? 'fa fa-list' : 'fa fa-table'"></i></label>
  </div>
  <div class="toolbar-refresh" (click)="reset(inputFonts, inputText)">
    <i class="fa fa-refresh"></i>
  </div>
</div>
