.header {
  height: 100%;
  font-size: 1.6rem;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & > * {
    margin: 0 2rem;
  }
}

.logo {
  align-self: center;
  font-size: 2.5rem;

  span {
    font-weight: 600;
  }
}

.nav {
  align-self: center;
  text-transform: uppercase;

  .list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;

    &-item {
      align-self: center;
      margin-right: 1em;
    }
  }

  @media only screen and (max-width: 600px) {
    visibility: hidden;
    opacity: 0;
  }
}
