/* You can add global styles to this file, and also import other style files */
:root {
  --bg-color: #fff;
  --text-color: rgb(34, 34, 34);
  --second-text-color: rgba(34, 34, 34, .5);
  --border-color: #dadce0;
  --black-color: #222;
  --white-color: #fff;
  --danger-color: red;
  --text-size: 32px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  a {
    text-decoration: none;
    color: var(--danger-color);

    &:not(.logo) {
      &:hover {
        color: var(--text-color);
      }
    }
  }

  @media only screen and (max-width: 600px) {
    font-size: 50%;
  }
}
